<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <h3>{{'SECURE_PAYMENTS' | translate}}</h3>
                <p>
                    <img src="img/cards.png" alt="" class="img-responsive">
                </p>
            </div>
            <div class="col-md-4 col-sm-3">
                <h3>{{'ABOUT' | translate}}</h3>
                <ul>
                    <li><a href="/faq">{{'FAQ' | translate}}</a></li>
                    <li><a href="/terms">{{'TERMS' | translate}}</a></li>
                    <li><a href="/policy">{{'POLICY' | translate}}</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-3" id="newsletter">
                 <h3>{{'CONTACT_US' | translate}}</h3>
                   <p> {{'COMPANY_ADDRESS' | translate}}:Overschiestraat 184, 1062XK Amsterdam</p>
                    <p> {{'PHONE' | translate}}: +598 93 430 737</p>
                    <p>{{'ALLIED_CONTACT_US' | translate}}<a rel="nofollow" href="https://www.alliedwallet.com/support">{{'ALLIED_CLICK_HERE' | translate}}</a> </p>
                    <p><a href="https://www.alliedwallet.com" rel="nofollow"><img src="img/alliedwallet.png" alt="accept credit cards online" border="0" /></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#0"><i class="icon-facebook"></i></a></li>
                        <li><a href="#0"><i class="icon-twitter"></i></a></li>
                    </ul>
                    <p>
                       Prospekta Global Marketing BV © OsoGloton 2017
                    </p>
                    <p>Overschiestraat 184, 1062XK Amsterdam</p>
                </div>
            </div>
        </div>
    </div>
</footer>
 -->