<header class="hidden-xs hidden-sm">
    <div class="container-fluid">
        <div class="row">
            <nav class="col--md-12 col-sm-12 col-xs-12" style="background-color: transparent;">
                <div class="main-menu">
                    <ul ng-if="!appToken">
                        <li><a ui-sref="main">{{'HOME' | translate}}</a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="show-submenu">{{'LANGUAGE' | translate}}<i class="icon-down-open-mini" style="display: inline;"></i></a>
                            <ul>
                                <li><a href="" ng-click="setLanguage('es')">{{'SPANISH' | translate}}</a></li>
                                <li><a href="" ng-click="setLanguage('en')">{{'ENGLISH' | translate}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>