<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 10%;">
            <div class="modal-header" style="border-bottom: 1px solid white;">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'NO_ADDRESS_FOUND' | translate}}</h4>
            </div>
            <div class="modal-body">
                <p><i class="icon_check" style="margin-right:10px;"></i>{{'NO_ADDRESS_OPTION_1' | translate}}</p>
                <p><i class="icon_check" style="margin-right:10px;"></i>{{'NO_ADDRESS_OPTION_2' | translate}}</p>
                <p><i class="icon_check" style="margin-right:10px;"></i>{{'NO_ADDRESS_OPTION_3' | translate}}</p>
            </div>
            <div class="modal-footer" style="border-top: 0px solid white;margin-top:-30px;">
                <button type="button" ng-click="close('Yes')" class="btn btn-warning" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>